*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(70, 70, 70, 1);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .2rem;
    text-align: center;
    color: whitesmoke;
    background-color: #212529;
    box-shadow: 0 0 1em .2em rgba(0, 0, 0, 0.5);
}

.navbar{
    box-shadow: 0 0 1em .2em rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    width: 100%;
}

section{
    width: 80%;
    color: whitesmoke;
    text-align: center;
}

.separator{
    padding: .5rem;
}

.cardcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card{
    margin: 1em;
}

.card-text, .card-title{
    color: black;
}

.card-button{
    width: 90%;
}

.contactlink{
    color: whitesmoke;
}